@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Winter Insight';
    src: url('/src/assets/fonts/WinterInsight.woff2') format('woff2'),
        url('/src/assets/fonts/WinterInsight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yrsa';
    src: url('/src/assets/fonts/Yrsa-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Yrsa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/src/assets/fonts/SegoeUI.woff2') format('woff2'),
        url('/src/assets/fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




